<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Start page</title>
    <meta name="description" content="Admin page">

    <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->

</head>
<style>
        p {
                color: white
        }
        p1 {
            color: white
        }
</style> 


<body>
    <!--<script src="js/scripts.js"></script>-->
    <body bgcolor="black"></body>
    <p1>
        Who is this?
        <form action="/" method="POST">
            <p>
                Enter your name, please <input name='who' type="text" size="20">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
    </p1>

</body>

</html>