<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Client page</title>
    <meta name="description" content="Send">


    <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->

</head>
<style>
        p {
                color: white
        }
        p1 {
            color: white
        }
</style> 


<body>
    <!--<script src="js/scripts.js"></script>-->
    <body bgcolor="black"></body>
    <p1>
        Welcome, Client! You have {{ dpcoin }} DPcoins and {{pc}} PCs!
        <form action="/buy" method="POST">
            <p>
                Buy PC for 50 coins
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
    </p1>

</body>

</html>